body {
  padding: 20px;
  height: 100vh;
  background-image: linear-gradient(to bottom, green, #00cfcf);
  box-sizing: border-box;
  margin: 0;
  color: white;
}
h1 {
  margin-top: 0;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  font-size: 48pt;
}

input[type="text"] {
  font-size: 20px;
  line-break: anywhere;
}
textarea {
  width: 650px;
  height: 200px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: wheat;
  font-size: 12pt;
  border-radius: 6px;
  padding: 15px;
}
textarea:focus {
  outline: black 2px solid;
}
form {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 20px;
  margin: auto;
}
button {
  width: 85px;
  height: 40px;
  margin: auto;
  font-size: 16px;
  font-weight: bold;
}
.nevcheck {
  text-align: center;
}
label {
  font-size: 14pt;
}
#felhnev {
  color: blueviolet;
  width: 350px;
  text-align: center;
  height: 25px;
}
